**/bower_components
**/dist
**/node
**/node_modules
**/.tmp
**/coverage
target/
.settings/
.metadata
.classpath
.project
.springBeans
.factorypath
.apt_generated
.externalToolBuilders
bin/
/lib
classes/
*.class
*.orig
*.log
*.iml
.idea
*.tern-project
**/.DS_Store
dump.rdb
**/docs
.DS_Store
.npmrc
yarn.lock
npm-debug.log
yarn-error.log
coverage
/.nyc_output
